<!-- HTML template for Login Dialog -->
<md-dialog class="dialog-container w-50">
    <div class="container-fluid sticky-top">
        <h4><br><b>Login</b></h4>
        <div class="d-flex justify-content-end flex-row">
            <h6 class="m-1 d-inline-block">Not Registered?</h6>
            <button type="submit" class="btn btn-primary m-1 d-inline-block" ng-click="register()">Register here</button>
        </div>
        <hr>
    </div>
    <div class="container-fluid">
    <form>
        <div class="">
            <label>User Id</label>
            <input type="email" class="form-control" ng-model="email">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="">
        </div>
        <br>
        <center>
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary" ng-click="login()">Sign in</button>
                <button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>
            </div>
        </center>

    </form>
    </div>
</md-dialog>