<!-- HTML template for Register Dialog -->
<md-dialog class="dialog-container w-50">
    <div class="container-fluid sticky-top">
        <h4><br><b>Register</b></h4>
        <div class="d-flex justify-content-end flex-row">
            <h6 class="m-1 d-inline-block">Already an Admin?</h6>
            <button type="submit" class="btn btn-primary m-1 d-inline-block" ng-click="login()">Sign in</button>
        </div>
        <hr>
    </div>
    <div class="container-fluid">
        <form>
            <div class="">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="">
                <label>Mobile Number</label>
                <input type="number" class="form-control" placeholder="">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="">
            </div>
            <br>
            <center>
                <div class="d-flex justify-content-around">
                    <button type="submit" class="btn btn-primary" ng-click="">Register</button>
                    <button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>
                </div>
            </center>
        </form>
    </div>
</md-dialog>