
<div class="container" align="center" style="height: 100%">
    <div style="height: calc(100% - 3em); overflow: auto">
        <table class="">
            <thead class="thead-light">
            <th class="text-center">
                Facilities Available
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="facility in facilities" align="center">
                <td>
                    {{facility.name}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="add()" style="height: 2em; margin-bottom: 0.5em; margin-top: 0.5em">
        Add Facility
    </button>
</div>
