<!-- HTML template for Remove Place Dialog -->
<md-dialog class="dialog-container w-50">
    <div>
        <center><h4><br><b>Place Details</b></h4></center>
        <hr>
    </div>
    <div class="d-flex flex-column">
        <div class="container-fluid d-flex flex-row">
           <img src="../images/hosp.jpg" height="300" width="300" class="m-2"/>
           <div class="m-2">
               <h4 class="">{{placeName}}</h4>
               <div>Plot no: 23, Spine road, Bhosri, Pune- 410377</div>
               <div>Reviews</div>
               <div>Inappropriate count: {{ic}}</div>
               <div>Rating: 1.3</div>
           </div>
        </div>
        <br>
        <center>
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary" ng-click="">Remove Place</button>
                <button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>
            </div>
        </center>
    </div>
    <br>
</md-dialog>