<!-- HTML template for Remove Place Dialog -->
<md-dialog class="dialog-container w-50">
    <div>
        <center><h4><br><b>Place Details</b></h4></center>
        <hr>
    </div>
    <div class="d-flex flex-column">
        <div class="container-fluid d-flex flex-row">

            <div id="demo" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item" ng-class="{active:!$index}" ng-repeat="image in images">
            <img class="mh-100 mw-100"
                 ng-src="data:image/JPEG;base64,{{image | bytetobase}}" height="300" width="300" class="m-2"/>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>

            <div class="m-2">
               <h4 class="">{{placeName}}</h4>
               <div>{{placeAddress}}</div>
               <div>Reviews</div>
               <div>Inappropriate count: {{rating}}</div>
               <div><span class="stars">{{rating}}</span></div>
           </div>
        </div>
        <br>
        <center>
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary" ng-click="remove()">Remove Place</button>
                <button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>
            </div>
        </center>
    </div>
    <br>
</md-dialog>