span.stars, span.stars span {
    display: block;
    background: url("../../images/stars.png") 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.absoluteIc {
    position: absolute;
    width: 50%;
    bottom: 18%;
}
.absoluteRating {
    position: absolute;
    width: 50%;
    bottom: 23%;
}

.cont {
    position: relative;
}

.photo {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.top {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cont:hover .image {
    opacity: 0.3;
}

.cont:hover .middle {
    opacity: 1;
}

.cont:hover .top {
    opacity: 1;
}

.txt {
    background : grey;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
